<%- include('partials/header') -%>

    <div class="aboutDiv">
        <h1>About me</h1>
        <p style="margin: 20px;">
            <%= aboutContent %>
        </p>
        <p style="margin: 20px;">
            <%= aboutContent %>
        </p>
    </div>
<%- include('partials/footer') -%>